#include <iostream>
using namespace std;

void infrac(float n, float& intp, float& fracp);

int main()
{
	
	float number, intpart, fracpart;
	
	cout << "\nEnter a real number \n";
	cin >> number;
	do
	{	
		infrac(number, intpart, fracpart);
		cout << "Integer part is " << intpart
		<< ", fraction part is " << fracpart;
	}while(number != 0.0);
	
	return 0;
}

void intfrac (float n, float& intp, float& fracp)
{
	long temp = static_cast<long>(n);
	intp = static_cast<float>(temp);
	fracp = n - intp;
}
